---
const personalImageAlt = "Gabriela Cecibel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy una apasionada <strong>desarrolladora de software</strong> con experiencia
      en la creación de <strong>aplicaciones móviles</strong> y <strong
        >sitios web</strong
      >. Me destaco por mi capacidad de adaptación a diferentes áreas del
      desarrollo, incluyendo <strong>backend</strong>, <strong>diseño</strong> y
      <strong>sistemas de escritorio</strong>. Mi enfoque <strong
        >ordenado</strong
      > y <strong>responsable</strong> me permite afrontar nuevos retos con eficiencia
      y creatividad.
    </p>

    <p>
      A lo largo de mi formación en el <strong
        >Instituto Técnico Ricaldone</strong
      >, he trabajado en diversos proyectos, desde <strong
        >sistemas contables</strong
      > hasta <strong>plataformas de reservas</strong> para hoteles. Mi dominio de
      lenguajes como <strong>Java</strong>, <strong>JavaScript</strong>, <strong
        >C#</strong
      >, <strong>HTML</strong> y <strong>Kotlin</strong> me ha permitido desarrollar
      soluciones funcionales y eficientes para distintos sectores.
    </p>

    <p>
      Además de mis habilidades técnicas, cuento con un <strong
        >pensamiento lógico</strong
      > y <strong>proactividad</strong> que me permite resolver problemas de manera
      efectiva. Mi capacidad para <strong>trabajar bajo presión</strong> y en equipo
      ha sido clave para lograr resultados exitosos en cada proyecto que emprendo.
    </p>

    <p>
      Siempre estoy en <strong>constante aprendizaje</strong> y actualización, buscando
      nuevas oportunidades para mejorar mis habilidades y contribuir al mundo del
      <strong>desarrollo de software</strong>. Mi objetivo es seguir creciendo
      profesionalmente y aportar <strong>soluciones innovadoras</strong> que faciliten
      la vida de los usuarios.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me2.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
